#contact {
  background-color: $bgDark;
  color: $colorLight;
  padding: 2rem 0 4rem 0;
  text-align: center;

  .contact__subtitle {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;

    .contact__subtitle--link {
      text-decoration: none;
      color: #0984e3;
    }
  }

  .contact__list {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 1rem;
      transition: .1s;

      &:hover svg {
        transform: scale(1.1);
        transition: .1s;
      }
    }

  }
}