$bg: #2d3436;
$colorOnBg: #dfe6e9;

.menu {
  position: absolute;
  height: 70px;
  top: 0;
  width: 100%;

  .menu__backToTop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    background-color: #0984e3;
    border: 3px solid #fff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;

    &:after {
      content: '';
      height: 15px;
      width: 15px;
      border-left: 5px solid #fff;
      border-top: 5px solid #fff;
      transform: rotate(45deg);
      margin-top: 25%;
    }
    
  }

  ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    li {
      margin-right: 2rem;
      font-size: 1.3rem;

      a {
        color: $colorOnBg;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }
}