$color: #dfe6e9;

#skills {
  background-color: #2d3436;
  color: $color;
  text-align: center;
  
  .skills__list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    .skills__list--item {
      height: 100px;
      width: 50%;
      margin: 2rem auto;

      @media screen and (min-width: 780px) {
        width: 250px;
      }
      
      h4 {
        color:$color;
        margin-top: 1rem;
      }

      svg {
        height: 80px;
      }
    }
  }
}