$bgDark: #2d3436;
$colorLight: #dfe6e9;
$bgCover:#0984e3;
$bg: linear-gradient(60deg, #74b9ff, #00cec9, #0984e3, #0672c5);
$bgInverse: linear-gradient(60deg, #0672c5, #0984e3, #00cec9, #74b9ff);

$md: 'min-width: 780px';